
h2{
  margin: 0;
  padding: 0;
}
.main{
  position: relative;
  background: var(--background);
  backdrop-filter: blur(5px);
  margin: 50px 10vw;
  padding: 10px;
  text-align: center;
  border: 3px solid var(--border);
  border-radius: 30px;
}
.btn{
  font-size: 20px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.6);
  margin: 7% 15%;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  color: var(--light);
}
.btn:hover{
  background: rgba(0, 0, 0, 0.8);
}
.link{
  text-decoration: none;
  color: var(--light);
}

@media only screen and (min-width:768px){
  .header{
    padding: 3vh 8vw;
  }
  .main{
    margin: 50px 25vw;
  }
}