.main3{
  background: var(--background);
  backdrop-filter: blur(7px);
  max-width: 100%;
  margin: 30px 10vw;
  padding: 15px 10%;
  text-align: center;
  border: 3px solid var(--border);
  border-radius: 20px;
}
.zip{
  width: 100%;
  padding-left: 0;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
}
.input{
  width: 100%;
  color: #fff;
  padding: 14px;
  font-size: 15px;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 4px 0px rgba(112, 160, 90, 0.5);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255,255,255,0.3);
  background: linear-gradient(to left,  rgba(0, 0, 0, 0.5), rgba(0, 9, 14, 0.8));
}
textarea::placeholder, input::placeholder{
  font-size: 15px;
  color: rgb(164, 164, 164);
}
label{
  padding: 13px 18px;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px 0 0 15px;
  white-space: nowrap;
  color: #fff;
  box-shadow: 0 4px 4px 0px rgba(112, 160, 90, 0.5);
  backdrop-filter: blur(1px);
  background: linear-gradient(310deg, rgba(0, 9, 14, 0.8), rgb(241, 10, 10, 0.8));
}
textarea{
  background: linear-gradient(to left,  rgba(0, 0, 0, 0.5), rgba(0, 9, 14, 0.8));
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;
  padding: 10px 14px;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 4px 4px 0px rgba(112, 160, 90, 0.5);
  backdrop-filter: blur(1px);
}
input:focus,textarea:focus{
  outline-color: var(--border);
  transform: scale(1.005);
}
.generate{
  width: 50%;
  padding: 15px 15px;
  margin-top: 10px;
  font-size: large;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 1s ease;
  background: linear-gradient(310deg, rgba(0, 9, 14, 0.8), rgba(241, 10, 10, 0.8));
}
.generate:hover{
  background: linear-gradient(310deg, rgb(249, 1, 1), rgb(0, 29, 44));
  box-shadow: 0 10px 10px 0px rgba(25, 32, 21, 0.5);
  transform: scale(1.05);
}
.data{
  opacity: 0;
  display: grid;
  justify-content:space-between;
  gap: 1em;
  color: #fff;
  align-items: center;
  background: rgba(0, 9, 14, 0.7);
  backdrop-filter: blur(6px);
  max-width: 100%;
  margin: 50px 10vw;
  padding: 35px 10%;
  border: 3px solid var(--border);
  border-radius: 20px;
}
.weather-data{
  display: none;
  opacity: 0;
  grid-auto-flow: column;
  grid: min-content / 1fr 1fr;
  justify-content:space-between;
  gap: 1em;
  align-items: center;
}
.data h2,.data h3,.data h4{
  margin: 6px;
}
.div2{
  display: flex;
  flex-direction: column;
}
.div1{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.weather_image{
  width: 80%;
  padding: 10px 0;
}
.error{
  display: none;
  margin: 0 auto;
  grid-column: span 2;
}

@media only screen and (min-width:768px){
  .main3, .data{
    margin: 30px 22vw;
  }
  .temp{
    font-size: 40px;
  }
}
@media only screen and (max-width:300px){
  .generate{
    width: 70%;
  }
}
@media only screen and (min-width:1024px){
  .data{
    gap: 3em;
  }
}