@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}
:root{
  --light: #fff;
  --dark: black;
  --border: rgba(255, 255, 255, 0.6);
  --background: rgba(255, 255, 255, 0.1);
}
button{
  -webkit-tap-highlight-color: transparent;
}

body{
  background: url(./components/images/black.jpg);
  background-size: cover;
  background-position: center;
  color: var(--light);
  -webkit-tap-highlight-color: transparent;
}
.dark{
  background: url(./components/images/white-stone.jpg);
  color: var(--dark);
}
.header{
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px);
  padding: 3vh 5vw;
  display: flex;
  justify-content: space-between;
}