@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
:root{
  --light: #fff;
  --dark: black;
  --border: rgba(255, 255, 255, 0.6);
  --background: rgba(255, 255, 255, 0.1);
}
button{
  -webkit-tap-highlight-color: transparent;
}

body{
  background: url(./components/images/black.jpg);
  background-size: cover;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  background-position: center;
  color: var(--light);
  -webkit-tap-highlight-color: transparent;
  max-width: 100%;
  margin: 0 auto;
}
.dark{
  background: url(./components/images/white-stone.jpg);
  backdrop-filter: blur(5px);
  color: var(--dark);
}
.header{
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px);
  padding: 3vh 5vw;
  display: flex;
  justify-content: space-between;
}