
h2{
  margin: 0;
  padding: 0;
}
.main{
  position: relative;
  background: var(--background);
  backdrop-filter: blur(7px);
  margin: 50px 10vw;
  padding: 10px;
  text-align: center;
  border: 3px solid var(--border);
  border-radius: 30px;
}
.btn{
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(to left,  rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  box-shadow: 0 5px 5px 0px rgb(49, 151, 2, 0.5);
  backdrop-filter: blur(1px);
  margin: 7% 15%;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  color: var(--light);
}
.btn:hover{
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 8px 8px 0px rgb(49, 151, 2, 0.5);
  transform: scale(1.005);
}
.link{
  text-decoration: none;
  color: var(--light);
}

@media only screen and (min-width:768px){
  .header{
    padding: 3vh 8vw;
  }
  .main{
    margin: 50px 25vw;
  }
}